input,textarea,button{
    box-shadow: none !important;
}
.profile{
    display: flex;
    flex-direction: column;
    position: absolute;
}
#avater{
    color: aqua;
    cursor: pointer;
}
table{
    font-size: .9rem;
}
.rentals-title{
    font-weight: 500;
    color: #172b43;
}
.search{
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 9999999;
    margin: 0 0 2rem 0 ;
    z-index: 9999999;
}
.banner img{
    width: 100%;
    height: auto;
}

.overlay{
    position: absolute;
    background: #172b43;
    width: 81%;
    height: 36.8%;
    opacity: .8;
}
#car_type, #search, #brand{
    box-shadow: none !important;
    background-color: #172b43;
    color: #fff;
    font-size: .8rem;
}

.btn2{
    background: #da1c36;
    color: #fff;
}
.banner-text{
    position: absolute;
    top: 25%;
    left: 40%;
    z-index: 9999999;
    margin: 0 0 2rem 0 ;
    z-index: 9999999;
    color: #fff;
}

@media screen and (max-width: 468px) {
    .overlay {
        width: 88.3%;
        height: 12%;
    }
    .banner img{
        width: 100%;
        height: 12%;
    }
    .content_wrapper {
        margin: 3.7rem 1.5rem;
    }
    .search {
        left: 0;
        padding: 0 1rem;
        top: 1rem;
        position: relative;
        z-index: -999;
    }
    .search_input {
        gap: .5rem;
    }
    .search_input label{
        display: none;
    }
    .banner-text {
        top: 12%;
        left: 34%;
    }
    
}
@media screen and (min-width: 468px) and (max-width: 769px) {
    .content_wrapper {
        margin: 3.7rem 3rem;
    }
    .overlay {
        width: 87.5%;
        height: 19.2%;
    }
    .search {
        top: 12%;
        left: 12%;
    }
    .banner-text {
        top: 14%;
    }
}

@media screen and (min-width: 770px) and (max-width: 822px) {
    .content_wrapper {
        margin: 3.7rem 3rem;
    }
    .overlay {
        width: 88%;
        height: 17.2%;
    }
    .search {
        top: 11%;
        left: 14%;
    }
    .banner-text {
        top: 12.5%;
    }
}
